@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
    --body-background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --scissors: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-border: hsl(217, 16%, 45%);
}

body {
    background: var(--body-background);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
}

* {
    box-sizing: border-box;
}

#app {
    max-width: 40rem;
    margin: 1rem auto;
}

header {
    color: white;
    border: 1px solid var(--header-border);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .score {
        color: var(--score-text);
        background-color: white;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1em;

        :nth-child(2) {
            font-size: 2rem;
        }
    }
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    padding-bottom: 1rem;
    width: 400px;
    height: 400px;
    background-image: url("./images/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    --border-width: 13px;

    #game-top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .game-icon {
        border-radius: 50%;
        padding: 1rem;
        height: 140px;
        margin: var(--border-width);
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        position: relative;
        isolation: isolate;
        border-radius: 50%;
        box-shadow: 0px -5px 0em rgba(0, 0, 0, 0.2) inset;

        &::after {
            content: "";
            background-color: white;
            position: absolute;
            inset: var(--border-width);
            z-index: -1;
            border-radius: 50%;
            box-shadow: 0px 5px 0em rgba(0, 0, 0, 0.1) inset;
        }

        &:active {
            box-shadow: 0px 5px 0em rgba(0, 0, 0, 0.4) inset;

            svg {
                transform: translateY(5px);
            }

            &::after {
                transform: translateY(5px);
            }
        }
    }
}

$list: ("rock", "paper", "scissors");
@each $item in $list {
    ##{$item} {
        background: var(--#{$item});
    }
}

footer {
    position: fixed;
    right: 1em;
    bottom: 1em;

    button {
        text-transform: uppercase;
        font-family: inherit;
        font-size: 1.5rem;
        color: white;
        padding: 0.5em 1em;
        border: solid 1px white;
        border-radius: 1em;
        background-color: rgba(0, 0, 0, 0);
    }
}
