@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
    --body-background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --scissors: linear-gradient(120deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper: linear-gradient(120deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock: linear-gradient(120deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --lizard: linear-gradient(120deg, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --cyan: linear-gradient(120deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-border: hsl(217, 16%, 45%);
    --game-width: 40rem;
}

body {
    background: var(--body-background);
    min-height: 95vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
}

* {
    box-sizing: border-box;
}

#app {
    max-width: var(--game-width);
    margin: 1rem auto;
}

header {
    color: white;
    border: 1px solid var(--header-border);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .score {
        color: var(--score-text);
        background-color: white;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1em;

        :nth-child(2) {
            font-size: 2rem;
        }
    }
}

#game {
    position: relative;
    width: 100%;
    margin: 2rem auto;
    --unit-size: calc(100% / 10px);
    --border-width: 13px;
    --shadow-size: calc(var(--border-width) / 3);

    .game-icon {
        border-radius: 50%;
        padding: 1rem;
        // width: 40%;
        height: calc(12 * var(--border-width));
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        position: relative;
        isolation: isolate;
        border-radius: 50%;
        box-shadow: 0px calc(-1 * var(--shadow-size)) 0em rgba(0, 0, 0, 0.2) inset;

        &::after {
            content: "";
            background-color: white;
            position: absolute;
            inset: var(--border-width);
            z-index: -1;
            border-radius: 50%;
            box-shadow: 0px var(--shadow-size) 0em rgba(0, 0, 0, 0.1) inset;
        }
    }

    .animate-pop {
        animation: pop 500ms;
        transform: scale(1);
    }

    @keyframes pop {
        0% {
            transform: scale(0.8);
        }

        16% {
            transform: scale(1.22);
        }

        28% {
            transform: scale(0.87);
        }

        44% {
            transform: scale(1.05);
        }

        59% {
            transform: scale(0.98);
        }

        73% {
            transform: scale(1.01);
        }

        88% {
            transform: scale(1);
        }

        100% {
            transform: scale(1);
        }
    }
}

#game-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 400px;
    aspect-ratio: 1;
    margin: 0 auto;
    background-image: url("./images/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    transition: opacity 350ms;

    #game-top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .game-icon:active {
        box-shadow: 0px var(--shadow-size) 0em rgba(0, 0, 0, 0.4) inset;

        svg {
            transform: translateY(var(--shadow-size));
        }

        &::after {
            transform: translateY(var(--shadow-size));
        }
    }
}

#game-results {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-content: center;
    gap: 1rem;
    opacity: 0;
    z-index: -1;
    transition: opacity 350ms;
    text-transform: uppercase;

    .blank {
        border-radius: 50%;
        padding: 1rem;
        height: calc(12 * var(--border-width));
        aspect-ratio: 1;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 1rem;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
        }
    }

    .results-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1.5rem;
    }

    #results {
        width: 10px;
        font-size: 2.5rem;
        transition: width 350ms ease;
        text-align: center;
    }

    button {
        color: var(--score-text);
        background-color: white;
    }
}

$list: ("rock", "paper", "scissors");
@each $item in $list {
    .#{$item} {
        background: var(--#{$item});
    }
}

button {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
    padding: 0.5em 1em;
    border: solid 1px white;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0);
}

footer {
    width: 100%;
    position: relative;

    button {
        position: absolute;
        right: 1em;
    }
}
